.underline{
    width: 100%;
    margin-top: 0.5%;
    height:75%;  
    /* background-color: #4CAF50; */
}

/* .btn-group{
    background-color: #4CAF50; 
}

.headerNavButton1{
    background-color: #4CAF50;
} */

